<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course list</title>
<style>
        th, td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <center>

            <table border="1">
                <tr>
                    <th>COURSE ID</th>
                    <th>COURSE NAME</th>
                    <th>COURSE FEES</th>
                    <th>COURSE DURATION</th>
                    <th>OPTIONS</th>
                </tr>
                {%for course in f%}
                <tr>
                    <td>{{course.course_id}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_fees}}</td>
                    <td>{{course.course_duration}}</td>
                    <td><a href="/editcourse/{{course.id}}">Edit</a> <a href="/deletecourse/{{course.id}}">Delete</a></td>
                </tr>
            
            
                
                <br>
                {%endfor%}
        </table>
        </center>

    </form>
</body>
</html>